@font-face 
{
    font-family: 'geliat';
    src: url(Geliat.otf);
    font-family: 'yanoner';
    src: url(Yanoneregular.ttf);
    font-family: 'fira';
    src: url(Fira.ttf);
    font-family: 'playfair';
    src: url(playfair.ttf);
}

body
{
    background: rgb(246,207,190);
    background: linear-gradient(90deg, rgba(246,207,190,1) 0%, rgba(185,220,242,1) 100%);
}

p
{
    font-family: 'geliat', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    margin-bottom: 4%;
    margin-left: 4%;
}

#ban1
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ban1:nth-child(2)
{
    font-size: xx-large;
    font-family: 'playfair', Arial, Helvetica, sans-serif;
    margin-right: 55%;
    margin-top: 2.5%;
}

.ban1:nth-child(1)
{
    width: 100px;
    border-radius: 20px;
    border: 2px black solid;
    padding: 10px;
    margin-top: 25%;
}

#menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border: rgb(221, 190, 169) solid;
    border-radius: 10px;
    background-color: rgb(255, 232, 214);
    padding: 2%;
    margin-top: 2%;
}

.link
{
   padding: 7px;
   font-family: 'geliat', Arial, Helvetica, sans-serif;
   font-size: 150%;
}

a:visited
{
    color: rgb(94, 30, 110);
    text-decoration: none;
}

a
{
    text-decoration: none;
    color: cornsilk;
}

.plus
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: rgb(221, 190, 169) solid;
    border-radius: 20px;
    background-color: rgb(255, 232, 214);
    width: 500px;
    height: 100px;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.ele1:nth-child(1)
{
    order: 2;
    margin-top: -6%;
    margin-left: -200%;
    border: none;
}

.ele1:nth-child(2)
{
    order: 1;
    font-size: x-large;
}

#intro
{
    margin-top: 5%;
}

#title2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#inter
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px black solid;
    border-radius: 20px;
}

img
{
    border: black 2px solid;
    border-radius: 20px;
}

h3
{
font-family: 'geliat', Arial, Helvetica, sans-serif;
}